body {
    margin: 0;
    background: #444;
}

/* Layout */
.row { display: flex ;}

/* Piano roll */
.piano-roll {
    background: pink;
    flex: 1 1 auto;
}

/* Piano */
.piano {
    display: block;
}

.piano__key:hover {
    fill: yellow;
    cursor: pointer;
}

.piano__text {
    font: bold 20px sans-serif;
    pointer-events: none;
}
