body {
    margin: 0;
    background: #444;
}

/* Layout */
.row { display: flex ;}

/* Piano roll */
.piano-roll {
    cursor: none;
    flex: 1 1 auto;
}

.piano-roll__wrapper {
    display: flex;
    flex: 1 1 auto;
    position: relative;
}

.note-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    pointer-events: none;
}

/* Piano */
.piano {
    display: block;
}

.piano__key:hover {
    fill: yellow;
    cursor: pointer;
}

.piano__text {
    font: bold 20px sans-serif;
    pointer-events: none;
}

.play-button {
    position: fixed;
    top: 2rem;
    right: 2rem;
}
