.editor {
  display: flex;
  flex-direction: column;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 2;
}

.metadata__shim {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  background: white;
}

.metadata__measures {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  background: white;
}

.metadata__measure {
}

.piano-roll {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.piano-roll__piano {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 1;
}

.piano-roll__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.piano-roll__measure {
}

.note-preview {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    pointer-events: none;
}

.piano__key:hover {
    fill: yellow;
    cursor: pointer;
}
