.editor {
  display: flex;
  flex-direction: column;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 2;
}

.metadata__shim {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  background: white;
  width: 37px;
}

.metadata__measures {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  background: white;
}

.metadata__measure {
}

.piano-roll {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.piano-roll__piano {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 1;
}

.piano-roll__measures {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.piano-roll__measure {
  background: black;
}



/* Piano roll */
.piano-roll__background {
    cursor: pointer;
}

.note-preview {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    pointer-events: none;
}





.piano__octave {
    display: block;
}

.piano__key:hover {
    fill: yellow;
    cursor: pointer;
}

.piano__text {
    font-weight: bold;
    font-family: sans-serif;
    pointer-events: none;
}
