@import "reset";
@import "editor";
@import "modal";
@import "toast";

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.app-frame {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.app-frame__header {
    flex: 0 0 auto;
}

.app-frame__content {
    flex: 1 1 auto;
    overflow: auto;
}

/* Controls */

.controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: #191921;
    padding: 1rem;
}

.tempo-field {
    width: 3rem;
}
