@import "editor";
@import "modal";
@import "toast";

body {
    margin: 0;
}

#app {
    background: #444;
}

/* Controls */

.controls {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}

.tempo-field {
    width: 3rem;
}
